            * {
                margin: 0;
            }
            
            body {
                margin: 0;
                font-family: poppins;
            }
            
            svg {
                width: 30px;
            }
            
            a {
                text-decoration: none;
                color: #2f2f2f;
            }
            
            button {
                cursor: pointer;
            }
            
            .container {
                width: 900vw;
                max-width: 90vw;
                margin: auto;
                text-align: center;
                padding-top: 10px;
                transition: 0.5s;
            }
            
            header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 0;
            }
            
            .icon-card {
                position: relative;
            }
            
            .icon-card span {
                background-color: red;
                position: absolute;
                top: 50%;
                right: -20px;
                width: 30px;
                height: 30px;
                color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
            .title {
                font-size: xx-large;
            }
            
            .cardTab {
                background-color: #353432;
                color: #eee;
                width: 400px;
                max-width: 100%;
                position: fixed;
                top: 0;
                bottom: 0;
                right: 0;
                display: grid;
                grid-template-rows: 70px 1fr 70px;
            }
            
            .cardTab h1 {
                padding: 20px;
                margin: 0;
                font-weight: 300;
            }
            
            .cardTab .btn {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
            
            .cardTab .btn button {
                background-color: #E8BC0E;
                border: none;
                font-family: poppins;
                font-weight: 500;
            }
            
            .cardTab .btn button.close {
                background-color: #eee;
            }
            
            .cardTab .listCard {
                overflow: auto;
            }
            
            .cardTab {
                right: -400px;
                transition: 0.5s;
            }
            
            body .activeTabcard .cardTab {
                right: 0;
            }
            
            body.activeTabcard .container {
                transform: translateX(-250px);
            }
            
            .cardTab .listCard::-webkit-scrollbar {
                width: 0;
            }
            
            .cardTab .listCard::-webkit-scrollbar-button {
                width: 0;
            }